{% load i18n %}
<form hx-post="{% url 'edit-validate-attendance' form.instance.id %}" id="attendanceRequestForm"
    data-url ="{% url 'edit-validate-attendance' form.instance.id %}"
    hx-target="{% if hx_target %}#{{hx_target}}{% else %}#updateAttendanceRequestModalBody{% endif %}">
    {% csrf_token %} {{form.as_p}}
    <div id="compensation-field-container" class="mt-3">
        {% if show_compensation or show_poya %}
            {% include "attendance/attendance/_compensation_field.html" with show_field=show_compensation show_poya=show_poya form=form %}
        {% endif %}
    </div>
    <div class="oh-modal__dialog-footer p-0 mt-3">
        <button type="submit" class="oh-btn oh-btn--secondary oh-btn--shadow">
            {% trans "Save" %}
        </button>
    </div>
</form>
{% comment %} <script>
    alert($("[name=batch_attendance_id]").val())
    $("[name=batch_attendance_id]").change()
</script> {% endcomment %}
<script>
  function attendanceDateChange($el) {
    const picked = $el.val();

    const $clockInDate  = $("input[name='attendance_clock_in_date']");
    const $clockOutDate = $("input[name='attendance_clock_out_date']");

    if (picked) {
      if ($clockInDate.length) {
        $clockInDate.val(picked);
        $clockInDate[0].dispatchEvent(new Event('change', { bubbles: true }));
      }
      if ($clockOutDate.length) {
        $clockOutDate.val(picked);
        $clockOutDate[0].dispatchEvent(new Event('change', { bubbles: true }));
      }
    }
  }
</script>
