{% load i18n %}
<div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <div class="oh-card-dashboard oh-card-dashboard oh-card-dashboard--neutral filter pointer dash-card"
        id="requestedLeaves"
        data-href="{% url 'request-view' %}?status=requested&from_date={{today}}">
        <div class="oh-card-dashboard__header">
            <span class="oh-card-dashboard__title">{% trans "Requests to Approve" %}</span>
            <div onmouseover="helptextView(event, 'Leave requests in &quot;Requested&quot; status from today.')" class="d-inline position-relative">
                <ion-icon name="help-circle-outline" id="offerhelptext"></ion-icon>
                <div id="tooltip" class="tooltip-text d-none"></div>
            </div>
        </div>
        <div class="oh-card-dashboard__body">
            <div class="oh-card-dashboard__counts">
                <span class="oh-card-dashboard__count">{{requested|length}}</span>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <div class="oh-card-dashboard oh-card-dashboard--success filter pointer dash-card"
        id="approvedLeaves"
        data-href="{% url 'request-view' %}?status=approved&from_date={{first_day}}&to_date={{last_day}}">
        <div class="oh-card-dashboard__header">
            <span class="oh-card-dashboard__title">{% trans "Approved Leaves In This Month" %}</span>
        </div>
        <div class="oh-card-dashboard__body">
            <div class="oh-card-dashboard__counts">
                <span class="oh-card-dashboard__count">{{approved|length}}</span>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-4">
    <div class="oh-card-dashboard oh-card-dashboard--danger filter pointer dash-card"
        id="rejectedLeaves"
        data-href="{% url 'request-view' %}?status=rejected&from_date={{first_day}}&to_date={{last_day}}">
        <div class="oh-card-dashboard__header">
            <span class="oh-card-dashboard__title">{% trans "Rejected Leaves In This Month" %}</span>
        </div>
        <div class="oh-card-dashboard__body">
            <div class="oh-card-dashboard__counts">
                <span class="oh-card-dashboard__count">{{rejected|length}}</span>
            </div>
        </div>
    </div>
</div>

